{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    </head>
    <body>
        {% if flag1 == 0 %}
        <h2>page not found</h2>
        {% else %}
        <section id="banner">
        <header id="header" class="alt">
            <h1><a href="index.html">Solid State</a></h1>
            <nav>
                <a href="/main/{{uname}}">Home</a>
                <a href="/library">library</a>
                <a href="/laptop">laptop</a>
                <a href="/logout">logout</a>
            </nav>
        </header>
    </section>
    
        <h2>wlcome{{uname}} to laptop</h2>
        <p>Avilable laptops are:{{alap}}</p>
        
        {% if alap > 0 and ulap == 0 %}
        
        <a href="/laptop_status"><button style="color: blue;" type="submit">reserve</button></a><br>
            {% else %}
            <p>Renew date:{{lap.renew_date}}</p>
<!-- <button type="submit" style="color: white;">reserve</button><br> -->
        {% endif %}
       
        {% endif %}
    </body>
</html>